.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10.0, 0.0, 0.0, 10.0);
}

.container {
    -fx-background-color: rgb(217, 238, 243);
    -fx-background-radius: 10;
}

.stats-choice {
    -fx-background-color: rgb(75, 186, 235);
    -fx-background-radius: 10;
    -fx-cursor: hand;

}

.button:hover {
    -fx-background-color: #95dbfa;
}