.gradient-background{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#a1ddf8,#e2f3f7);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2),10.0,0.0,0.0,10.0);
}

.container{
    -fx-background-color: rgba(200, 210, 217, 0.38);
    -fx-background-radius:10;
}

.stats-choice{
    -fx-background-color: rgba(115, 220, 247, 0.459);
    -fx-background-radius:10;
}